{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-8 mx-auto">
		<h5 class="text-center my-2">Настройки</h5>
		<form method="POST" action="">{% csrf_token %}
			<div class="form-group">
				{{ form.as_p  }}
			</div>
			<button type="submit" class="btn btn-primary" style="background-color: #26C6DA;">Сохранить</button>
		</form>
		<form method="POST" action="{% url 'accounts:delete' %}">{% csrf_token %}
			<button type="submit" class="btn btn-danger my-2" style="background-color: #ca6666;">Удалить</button>
		</form>
	</div>
</div>

{% endblock %}
